#map-wrapper{
	position: relative;
	width: 750px;
	margin:auto;
}

.red{
	/* Fill puts the color in the svg object */
	fill: #BA3A33;
	/* color puts the color in the party name text */
	color: #BA3A33;
}

.blue{
	fill: #445E96;
	color: #445E96;;
}

.open{
	fill: #c2b280;
	color: #c2b280;;
}

#wrapper svg{
	background-color: #99ccff ;
}

.state{
	cursor: pointer;
}

.state-info{
	color: white;
	font-weight: bold;
	font-size: 12px;
}

#vote-bar-wrap{
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	width: 750px;
}

#vote-bar-wrap .red{
	float: right;
}

.bar{
	height: 20px;
}

#blue-bar{
	background-color: #445E96;
}

#red-bar{
	background-color: #BA3A33;	
}

#open-bar{
	background-color: #c2b280;		
}







